.viewer {
  width: 100%;
  height: 100%;
  min-height: 600px;
  position: relative;
  border: 1px solid var(--color-grey-200);
  border-radius: var(--radius-md);
  overflow: hidden;
  background-color: var(--color-white);
}

.iframe {
  width: 100%;
  height: 100%;
  min-height: 600px;
  border: none;
}

.loading,
.error {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: var(--font-size-body-medium);
  color: var(--color-text-secondary);
}

.error {
  color: var(--color-error);
}

